* {
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  width: 415px;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
  
}
@media (max-width:415px){
  .app{
    width: 100%;
  }
}

.brand {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-item{
  display: inline-block;
  flex: 1 1 0;
  text-align: center;
  text-decoration: none;
  padding: 14px 0;
  color: #000;
  font-size: 14px
}

.nav-item:not(:last-child){
  border-right: 1px solid #eee;
}

.section{
  padding: 30px;
}

.section-title{
  margin-top: 0px;
}

.section-desc{
  line-height: 26px;
}

.article{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.article-title{
  margin-top: 0;
}
.article-title a{
  text-decoration: none;
  color: #000;
}
.article-time{
  color: #999;
  font-size: 12px;
}
.article-img{
  max-width: 100%;
  margin: 25px 0;
}
.article-summary{
  margin-top: 0;
  line-height: 26px;
}
.article-source{
  color: #999;
}